<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bwol.adultEdu.base.dao.SchoolDao">

    <resultMap id="schoolResultMap" type="com.bwol.adultEdu.base.entity.School">
        <id column="schoolId" property="schoolId"/> 
        <result column="title" property="title"/> 
        <result column="address" property="address"/> 
        <result column="runSchoolForm" property="runSchoolForm"/> 
        <result column="runSchoolType" property="runSchoolType"/> 
        <result column="approvalNumber" property="approvalNumber"/> 
        <result column="planProperties" property="planProperties"/> 
        <result column="createUserName" property="createUserName"/> 
        <result column="createUserId" property="createUserId"/> 
        <result column="updateUserName" property="updateUserName"/> 
        <result column="updateUserId" property="updateUserId"/> 

        
        
    </resultMap>

    <sql id="schoolColumns">
        T_BAS_SCHOOL.school_id AS "schoolId",
        T_BAS_SCHOOL.title AS "title",
        T_BAS_SCHOOL.address AS "address",
        T_BAS_SCHOOL.run_school_form AS "runSchoolForm",
        T_BAS_SCHOOL.run_school_type AS "runSchoolType",
        T_BAS_SCHOOL.approval_number AS "approvalNumber",
        T_BAS_SCHOOL.plan_properties AS "planProperties",
        T_BAS_SCHOOL.create_user_name AS "createUserName",
        T_BAS_SCHOOL.create_user_id AS "createUserId",
        T_BAS_SCHOOL.update_user_name AS "updateUserName",
        T_BAS_SCHOOL.update_user_id AS "updateUserId"
    </sql>

    <sql id="schoolJoins">
        
    </sql>

    <select id="get" resultMap="schoolResultMap">
        SELECT
        <include refid="schoolColumns" />
        FROM T_BAS_SCHOOL <include refid="schoolJoins" />
        <where>
        T_BAS_SCHOOL.school_id = #{id}
        </where>
    </select>

    <select id="findList" resultMap="schoolResultMap">
        SELECT
        <include refid="schoolColumns" />
        FROM T_BAS_SCHOOL <include refid="schoolJoins" />
        <where>
        </where>
    </select>

    <select id="findAllList" resultMap="schoolResultMap">
        SELECT
        <include refid="schoolColumns" />
        FROM T_BAS_SCHOOL <include refid="schoolJoins" />
        <where>
        </where>
    </select>

    <insert id="insert">
        INSERT INTO T_BAS_SCHOOL(
            school_id,
            title,
            address,
            run_school_form,
            run_school_type,
            approval_number,
            plan_properties,
            create_user_name,
            create_user_id,
            update_user_name,
            update_user_id
        )
        VALUES (
            #{schoolId},
            #{title},
            #{address},
            #{runSchoolForm},
            #{runSchoolType},
            #{approvalNumber},
            #{planProperties},
            #{createUserName},
            #{createUserId},
            #{updateUserName},
            #{updateUserId}
        )
    </insert>

    <insert id="insertBatch">
        INSERT INTO T_BAS_SCHOOL(
            school_id,
            title,
            address,
            run_school_form,
            run_school_type,
            approval_number,
            plan_properties,
            create_user_name,
            create_user_id,
            update_user_name,
            update_user_id
        )
        VALUES
        <foreach collection ="list" item="school" separator =",">
        (
            #{school.schoolId},
            #{school.title},
            #{school.address},
            #{school.runSchoolForm},
            #{school.runSchoolType},
            #{school.approvalNumber},
            #{school.planProperties},
            #{school.createUserName},
            #{school.createUserId},
            #{school.updateUserName},
            #{school.updateUserId}
        )
        </foreach>
    </insert>

    <update id="update">
        UPDATE T_BAS_SCHOOL SET
        school_id = #{schoolId},
        title = #{title},
        address = #{address},
        run_school_form = #{runSchoolForm},
        run_school_type = #{runSchoolType},
        approval_number = #{approvalNumber},
        plan_properties = #{planProperties},
        create_user_name = #{createUserName},
        create_user_id = #{createUserId},
        update_user_name = #{updateUserName},
        update_user_id = #{updateUserId}
        WHERE school_id = #{schoolId}
    </update>

    <update id="delete">
        DELETE FROM T_BAS_SCHOOL
        WHERE school_id = #{schoolId}
    </update>

</mapper>